// Basic Style
html{
	font-size:62.5%;/*10 ÷ 16 × 100% = 62.5%*/
	font-family:"微軟正黑體","蘋果儷中黑","新細明體",Arial,sans-serif;
	body{
		-webkit-text-size-adjust:none;
		background: $gray-l;
		font-size:1.2em;
		font-size:1.2rem /*1.4 × 10px = 14px */;
		font-style: inherit;
		line-height: 180%;
	}
}

a {text-decoration:none;}
a:focus, 
a:hover, 
a:active {text-decoration:none;}

code, kbd, samp, tt {font-size: 100%;}
input, button, textarea, select {*font-size: 100%; /*-webkit-appearance:none;*/}

.clear {clear:both;}

.t_center        { text-align:center; }
.t_left          { text-align:left; }
.t_right         { text-align:right; }
.left            { float:left;}
.right           { float:right; }
img              { max-width:100%;vertical-align:middle;border:0; }

/*-- FONT-SIZE --*/
.f_12 {font-size:1.2rem;}   /* for setting 9pt 12px 0.75em */
.f_13 {font-size:1.3rem;}   /* for setting 10pt 13px 0.8em */
.f_14 {font-size:1.4rem;} /* for setting 10.5pt 14px 0.875em */
.f_15 {font-size:1.5rem;}   /* for setting 11pt 15px 0.95em */
.f_16 {font-size:1.6rem;}  /* for setting 12pt 16px 1em */
.f_17 {font-size:1.7rem;}  /* for setting 13pt 17px 1.05em */
.f_18 {font-size:1.8rem;}/* for setting 13.5pt 18px 1.125em */
.f_19 {font-size:1.9rem;}  /* for setting 14pt 19px 1.2em */
.f_20 {font-size:2.0rem;}  /* for setting 14.5pt 20px 1.25em */
.f_21 {font-size:2.1rem;}  /* for setting 15pt 21px 1.3em */
.f_22 {font-size:2.2rem;}  /* for setting 16pt 22px 1.4em */
.f_23 {font-size:2.3rem;}  /* for setting 17pt 23px 1.45em */
.f_24 {font-size:2.4rem;}  /* for setting 18pt 24px 1.5em */
.f_25 {font-size:2.5rem;}  /* for setting 18pt 25px 1.55em */
.f_26 {font-size:2.6rem;}  /* for setting 20pt 26px 1.6em */
.f_29 {font-size:2.9rem;}  /* for setting 22pt 29px 1.8em */
.f_32 {font-size:3.2rem;}  /* for setting 24pt 32px 2em */
.f_35 {font-size:2.5rem;}  /* for setting 26pt 35px 2.2em */
.f_36 {font-size:3.6rem;}  /* for setting 27pt 36px 2.25em */
.f_37 {font-size:3.7rem;}  /* for setting 28pt 37px 2.3em  */
.f_38 {font-size:3.8rem;}  /* for setting 29pt 38px 2.35em */
.f_40 {font-size:4.0rem;}  /* for setting 30pt 40px 2.45em */
.f_42 {font-size:4.2rem;}  /* for setting 32pt 42px 2.55em */
.f_45 {font-size:4.5rem;}  /* for setting 34pt 45px 2.75em */
.f_48 {font-size:4.8rem;}  /* for setting 36pt 48px 3em */

/*-- font Color --*/
.f_basic	{ color:#f01400; }
.f_web		{ color:#362e2b; }

/*-- FONT --*/
.fw_bold	{ font-weight:bold; }
.fw_light	{ font-weight:lighter; }

.td_unline	{ border-bottom: 1px solid #362e2b; }
.td_through	{ text-decoration: line-through; }