$gray-l:hsl(0,0,94%);
$gray-lm:hsl(0,0,75%);
$gray-m:hsl(0,0,50%);
$gray-d:hsl(0,0,25%);
$black-l: #666666;
$black-m: #333333;
$black-d: #111111;
$black-t: #362e2b;
$red-g: hsl(0,100%,28%);
$red:hsl(360,100%,50%);
$red-l:hsl(360,100%,45%);
$red-m:hsl(360,100%,35%);
$red-d:hsl(360,100%,25%);
$price:hsl(360,100%,40%);

$wht: #fff;
$black: #000;

$purple: #ef66fe;
//$pink: #ff6666;
$yellow: #ffff00;
$pink: hsla(334,100%,44%,1);
$pink-l: hsla(342,100%,49%,1);
$pink-m: hsla(346,90%,45%,1);
$brown: #886643;
$blue: hsla(240,100%,50%,1);
$skyblue:hsla(200,100%,50%,1);
$orange:hsla(24,100%,50%,1);
$chrome:hsla(36,100%,50%,1);
$cyan:hsla(170,100%,40%,1);
$green: #88bb00;
$life: #ff9900;

$progs: hsl(0,42%,79%);
